@media (max-width: 1200px) {
    body {
        width: 100%;
    }
    main > div {
        width: 100%;
    }
    .my-photo {
        margin: auto auto -110px;
    }
    .main-info-squares > .square-blue {
        width: 85%;
        margin: 0 7.5%;
        border-radius: 25px;
    }
    .main-info-squares > .square-white {
        width: 90%;
        border-radius: 25px;
        margin: 34px 5% 0 5%;
    }
    .contacts ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 5%;
    }
    .contacts ul li {
        flex-grow: 1;
        flex-shrink: 2;
    }
    .main-right {
        padding: 0 5%;
    }
    .main-right::before {
        display: block;
        content: '';
        height: 25px;
        background: #5563a3;
        width: 80%;
        margin-left: 20%;
        border-radius: 25px 25px 0 0;
    }
    .main-right::after {
        display: block;
        content: '';
        height: 25px;
        background: #5563a3;
        width: 80%;
        margin-left: 20%;
        border-radius: 0 0 25px 25px;
    }
    .skills-code {
        flex-wrap: wrap;
        padding: 0 5%;
    }
    .skills-code > div {
        width: 100%;
    }
    .my-code-ex {
        padding: 0;
    }
    .my-code-ex div {
        width: 100%;
        padding-left: 10px;
    }
    .tech-stack {
        margin: 0 5%;
        padding: 0;
    }
    footer {
        margin: 0 5%;
        font-size: 0.7em;
    }
    footer div .square-white {
        border-radius: 25px 25px 0 0;
    }
}